{% extends 'base.html' %}

{% block main %}

<div class="row">
  <p class="span8 pink-text huge-text">
  Finally, an easy way to find out
  if your makeup is safe.
  </p>
  <br />
</div>
<div class="row">
  <p class="span8 pink-text huge-text">
  The U.S. doesn’t regulate cosmetics,
  but Europe does. 
  </p>
  <br />
</div>
<div class="row">
  <p class="span8 pink-text huge-text">
  Enter a product’s ingredients below 
  to find out if any have been 
  <span style="color:black;">banned in Europe</span>.
  </p>
</div>
<div id="ingredient_search" class="row">
    <div class="search-input span8">
      <textarea rows="5" class="input span8"></textarea>
      <p style="text-align:right;" class="medium-text pink-text">(be sure to use commas to separate ingredients)</p>
      <button style="float:right;" class="btn primary search" type="button">Submit</button>
    </div>
    <p style="line-height: 90px; text-align: center;" class="span1 pink-text huge-text">=</p>
    </div>
</div>

<script id="ingredient_results" type="text/template">
  <% if (results.length === 0) { %>
     <h1 class="blue-text huge-text">totally safe</h1>
      <p class="blue-text medium-text">
      enjoy! all the ingredients are considered safe in Europe.
      </p>
  <% } else { %>
    <h1 class="huge-text">not so good</h1>
    <p class="medium-text">
    the following ingredients are banned or restricted in Europe.
    <ul class="ingredient-search-results">
    <% _.each(results, function(result) { %>
      <li>
      <span class="orange-text medium-text"><%= result.text %></span>
      <!--
      (<% print(result.category === 0 ? "restricted" : "banned"); %>)
      <% if (result.miscellaneous.match(/not to be used.*/)) { %>
        <span style="color:red;"><%= result.miscellaneous %></span>
      <% } %>
      <dl style="display:none;">
        <dt>functions:</dt>
        <dd><%= result.functions.join(', ') %></dd>
        <dt>uses:</dt>
        <dd><%= result.uses %></dd>
        <dt>scientific research:</dt>
        <dd><% _.each(JSON.parse(result.sccs_opinions), function (opinion) { %>
          <a href="<%= opinion.url %>"><%= opinion.title %></a><br />
        <% }); %>
        </dd>
        <dt>miscellaneous notes:</dt>
        <dd><%= result.miscellaneous %></dd>
      </dl>
      -->
      </li>
    <% }); %>
    </ul>
  <% } %>
  <button class="btn primary reset" type="button">
    check another product</button>
</script>



{% endblock %}

{% block page_js %}
  <script defer src="static/js/modules/ingredients.js"></script>
{% endblock %}
