<li>
<span class="orange-text underline">{{ object.name }}</span>
{% if result.category == 0 %}
(restricted)
{% else %}
(banned)
{% endif %}

{% if "not to be used" in result.miscellaneous %}
  <span style="color:red;">{{ result.miscellaneous }}</span>
{% endif %}

<dl style="display:none;">
  <dt>functions:</dt>
  <dd>{{ JSON.parse(result.functions).join(', ') </dd>
  <dt>uses:</dt>
  <dd><%= result.uses %></dd>
  <dt>scientific research:</dt>
  <dd><% _.each(JSON.parse(result.sccs_opinions), function (opinion) { %>
    <a href="<%= opinion.url %>"><%= opinion.title %></a><br />
  <% }); %>
  </dd>
  <dt>miscellaneous notes:</dt>
  <dd><%= result.miscellaneous %></dd>
</dl>
</li>
